@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(image/foto\ cover.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;

}
.logo nav{
    position: fixed;
}

.logo {
    align-items: flex-start;
    cursor: pointer;
    margin-right: auto;
    width: 40px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0 20px 5%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #373ae9;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text h1 span{
    color: #373ae9;
}

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    background-color: #ababab38;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    text-align: justify;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #373ae9;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #373ae9;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

footer{
    background-color: #070707;
    display: flex;
    align-items: center;
    padding: 40px;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;    
}

footer ul li{
    list-style: none;
    display: inline-block;
}
footer ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    margin: 10px 20px;
}
footer ul li a::after{
    content: '';
    width:0%;
    height: 3px;
    background: #373ae9;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
footer ul li a:hover::after{
    width: 100%;
}

footer div .logo {  
    width: 80px;
}

footer  div .logo,
footer ul,
footer .sosial-icon,
footer p {
    margin-bottom: 20px;
}

footer .sosial-icon a {
    color: #fff;
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    display: inline-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

footer .sosial-icon a i {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
footer .sosial-icon a:hover {
    background-color: white;
}

footer .sosial-icon a:hover i {
    color: #24252A
}

footer p {
    font-family: "Montserrat", sans-serif;
}